<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark " style="border-bottom:2px solid #dcdbdb;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="Logo" width="90" height="40" class="d-inline-block align-text-center">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <a id="dronePage" href="/drone">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">드론 관리</div>
            </a>
            <a id="inquiryPage" href="/items">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">문의 관리</div>
            </a>
            <a id="asPage" href="/as">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">As 관리</div>
            </a>
            <a id="deliveryPage" href="/delivery">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">납품 관리</div>
            </a>
            <a id="flightPage" href="/flight">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 180px;font-size: 20px">비행 일정</div>
            </a>


            <a id="adminPage" href="/members/admin">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black">관리자 페이지</div>
            </a>
            <div id="adminPage2" style="float: right;margin-right: 8px;color: black">|</div>
            <a href="/members/info">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black">MyPage</div>
            </a>
            <div style="float: right;margin-right: 8px;color: black">|</div>
            <img src="/img/profile-user.png" alt="Logo" width="20" height="20" class="d-inline-block align-text-center">
            <div style="float: right;margin-left: 8px;margin-right: 15px; color: black" th:text="|${member.name}|">로그인 사용자 이름</div>
        </div>
    </div>
    </div>
</nav>
<div class="container"style="max-width: 40%">

    <div class="py-5 text-center">
        <h2>문의 등록</h2>
    </div>

    <form action="item.html" th:action th:object="${item}" method="post">
<!--
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>-->

        <div >
            날짜
            <div type="text" id="date"class="form-control"/>
        </div >
        <div style="margin-top: 15px">
            <label for="company">기관명/업체명</label>
            <input type="text" id="company" th:field="*{company}" class="form-control" placeholder="기관/업체명을 입력하세요">
        </div>
        <div style="margin-top: 15px">
            <label for="customer" >고객/담당자 성함</label>
            <input type="text" id="customer" th:field="*{customer}" class="form-control" placeholder="고객/담당자 성함을 입력하세요">
        </div>
        <div style="margin-top: 15px">
            <label for="phone" >전화 번호</label>
            <input type="text" id="phone" th:field="*{phone}" class="form-control">
        </div>
        <div style="margin-top: 15px">
            <label for="type" >분류</label>
            <select class="form-control" id="type" th:field="*{type}">
                <option value="견적">견적</option>
                <option value="A/S">A/S</option>
                <option value="기능/개발/시연">기능/개발/시연</option>
                <option value="운용문의">운용문의</option>
                <option value="납품">납품</option>
                <option value="교육">교육</option>
            </select>
        </div >
        <div id="deliType" style="display: none;margin-top: 10px ">
            <label for="deliDrone">드론</label>
            <input type="checkbox" id="deliDrone" name="myCheckbox" onclick="serialX()">
            <label for="deliPart"style="margin-left: 10px">부품</label>
            <input type="checkbox" id="deliPart" name="myCheckbox" onclick="serialO()">
        </div>
        <div id="serialDiv" style="display: none;margin-top: 10px">
            <label for="serial" >식 시리얼</label>
            <input type="text" id="serial" th:field="*{serial}"
                   class="form-control" placeholder="식 시리얼을 입력하세요.">
        </div>

        <div style="margin-top: 15px">
            <label for="itemName" >문의 제품</label>
            <select class="form-control" id="itemName" th:field="*{itemName}">
                <option value="KnX">KnX</option>
                <option value="KnX2">KnX2</option>
                <option value="KnX2-D">KnX2-D</option>
                <option value="GCS(태블릿)">GCS(태블릿)</option>
            </select>
        </div>

        <div style="margin-top: 15px">
            <label for="detail" >문의 내용</label>
            <input type="text" id="detail" th:field="*{detail}"
                   class="form-control">
        </div>

        <div style="margin-top: 15px">
            <label for="solution" >해결방안(회신 내용)</label>
            <input type="text" id="solution" th:field="*{solution}"
                    class="form-control">
        </div>
        <div style="margin-top: 15px">

            <label for="manager" >문의 담당자</label>
            <select class="form-control" id="manager" th:field="*{manager}">
                <option th:each="member : ${simples}" th:value="${member.id}" th:text="${member.name}">
                </option>
            </select>
        </div>
        <div style="margin-top: 15px">
            <label for="memo" >문의 대응 참조 메모/비고</label>
            <input type="text" id="memo" th:field="*{memo}"
                   class="form-control">
        </div>


        <hr class="my-4">

        <div class="row"style="margin-bottom: 200px">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/items}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>

    var admin = document.getElementById("adminPage");
    var admin2 = document.getElementById("adminPage2");
    var typeS = document.getElementById("type");
    var serialD = document.getElementById("serialDiv");
    var serial = document.getElementById("serial");
    var deliDrone = document.getElementById("deliDrone");
    var deliPart = document.getElementById("deliPart");
    var deliType = document.getElementById("deliType");
    /*<![CDATA[*/

    var rank = "[[${member.rank}]]";
    var id = [[${member.id}]];

    if(rank != "admin"){
        admin.style.display = "none";
        admin2.style.display = "none";
    }
    /*]]>*/

    // 현재 날짜를 가져오는 JavaScript 함수
    function getCurrentDate() {
        var currentDate = new Date();
        var year = currentDate.getFullYear(); // 년도
        var month = currentDate.getMonth() + 1; // 월 (0부터 시작하므로 1을 더함)
        var day = currentDate.getDate(); // 일

        // 월과 일이 한 자리 숫자인 경우 앞에 0을 추가하여 두 자리로 만듭니다.
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }

        // "yyyy-mm-dd" 형식으로 날짜를 반환
        return year + "-" + month + "-" + day;
    }

    // 페이지가 로드될 때 자동으로 현재 날짜를 표시
    window.onload = function() {
        var date = document.getElementById("date");
        date.innerHTML = getCurrentDate();
    };

    typeS.addEventListener('change', function () {
        const value = typeS.value;
        if (value === 'A/S') {
            serialD.style.display = 'block';
            deliType.style.display = 'none';
        } else if (value === '기능/개발/시연') {
            serialD.style.display = 'block';
            deliType.style.display = 'none';
        } else if (value === '운용문의') {
            serialD.style.display = 'block';
            deliType.style.display = 'none';
        } else if (value === '납품') {
            deliType.style.display = 'block';
            serialD.style.display = 'none';
            serial.value = '';
            serial.textContent='';
            deliPart.checked=false;
            deliDrone.checked = true;
        } else if (value === '교육') {
            serialD.style.display = 'block';
            deliType.style.display = 'none';
        }else if(value ==='견적'){
            serialD.style.display = 'none';
            deliType.style.display = 'none';
            serial.value = '';
            serial.textContent='';
        }

    });
    function serialX(){
        deliPart.checked=false
        serialD.style.display = 'none';
        serial.value = '';
        serial.textContent='';
    }
    function serialO(){
        deliDrone.checked=false
        serialD.style.display = 'block';
    }

</script>
</body>
</html>
