<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark " style="border-bottom:2px solid #dcdbdb;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="Logo" width="90" height="40" class="d-inline-block align-text-center">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <a id="dronePage" href="/drone">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">드론 관리</div>
            </a>
            <a id="inquiryPage" href="/items">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">문의 관리</div>
            </a>
            <a id="asPage" href="/as">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">As 관리</div>
            </a>
            <a id="deliveryPage" href="/delivery">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">납품 관리</div>
            </a>
            <a id="flightPage" href="/flight">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 180px;font-size: 20px">비행 일정</div>
            </a>


            <a id="adminPage" href="/members/admin">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black">관리자 페이지</div>
            </a>
            <div id="adminPage2" style="float: right;margin-right: 8px;color: black">|</div>
            <a href="/members/info">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black">MyPage</div>
            </a>
            <div style="float: right;margin-right: 8px;color: black">|</div>
            <img src="/img/profile-user.png" alt="Logo" width="20" height="20" class="d-inline-block align-text-center">
            <div style="float: right;margin-left: 8px;margin-right: 15px; color: black" th:text="|${member.name}|">로그인 사용자 이름</div>
        </div>
    </div>
    </div>
</nav>
<div style="text-align: center; margin-top:10%;">
    <img src="/img/knDrone.png" alt="Logo" width="20%" height="15%" class="d-inline-block align-text-center">
</div>


<div class="container" style="max-width: 60%;margin-top:3%">

    <button id="start1" class="btn btn-secondary btn-lg" type="button"style="width: 10%; position: absolute;top: 50%;left: 38%;margin: -25px 0 0 -25px;float: left;border-radius: 20px;background-color: #0a53be; border-color:#0a53be "
                onclick="searchMode()">
        드론 검색
    </button>
    <button id = "start2" class="btn btn-dark btn-lg" onclick="location.href='items.html'"style="width: 10%; position: absolute;top: 50%;left: 54%;margin: -25px 0 0 -25px;border-radius: 20px;background-color: #0a53be; border-color:#0a53be"
            th:onclick="|location.href='@{/drone/manage}'|" type="button">
        드론 관리
    </button>
    <div style="width: 100%;margin-left: 9%;display: none" id="search">
        <form th:object="${itemSearch}" method="get" action="/drone/search">
            <select class="form-select"th:field="*{select}" id= "select" style="width: 15%;float: left;height: 50px;font-size: 16px;">
                <option value="1">식 시리얼</option>
                <option value="2">기체 시리얼</option>
                <option value="3">기관명/업체명</option>
            </select>

            <div id="serialDiv" style="width: 50%;display: block;float: left;margin-left: 20px">
                <input id="serial"style="height: 50px;font-size: 16px" type="text" th:field="*{serial}" class="form-control" placeholder="식 시리얼을 입력해 주세요."/>
            </div>
            <div id="droneDiv" style="width: 50%;display: none;float: left;margin-left: 20px">
                <input id="drone" style="height: 50px;font-size: 16px" type="text" th:field="*{drone}" class="form-control" placeholder="드론 시리얼을 입력해 주세요."/>
            </div>
            <div id="companyDiv" style="width: 50%;display: none;float: left;margin-left: 20px">
                <input id="company" style="height: 50px;font-size: 16px" type="text" th:field="*{company}" class="form-control" placeholder="기관명/업체명을 입력해 주세요."/>
            </div>
            <div class="col" style="width: auto;float: left">
                <button type="submit" class="btn btn-primary mb-2"style="height: 50px;font-size: 16px;margin-left: 20px">검색</button>
            </div>
            <div>
                <button id="cancel" class="btn btn-secondary"style="margin-bottom: 50px;margin-left: 25px;height: 50px"
                        onclick="back()"
                        type="button">취소
                </button>
            </div>
        </form>
    </div>

</div> <!-- /container -->
<script th:inline="javascript">
    var button = document.getElementById("addBtn");
    var admin = document.getElementById("adminPage");
    var admin2 = document.getElementById("adminPage2");
    /*<![CDATA[*/

    var rank = [[${member.rank}]];
    if(rank === "guest"){
        button.style.display = "none";
    }
    if(rank !="admin"){
        admin.style.display = "none";
        admin2.style.display = "none";
    }

    /*]]>*/

    var select = document.getElementById("select");
    var serialD = document.getElementById("serialDiv");
    var droneD = document.getElementById("droneDiv");
    var companyD = document.getElementById("companyDiv");


    var serial = document.getElementById("serial");
    var drone = document.getElementById("drone");
    var company = document.getElementById("company");

    serial.value= "";
    drone.value= "";
    company.value= "";

    console.log(serial.value+"/"+drone.value+"/"+company.value)
    select.addEventListener("change",function (){
        var selectedValue = select.value;

        if (selectedValue === "1") {
            serialD.style.display = "block";
            droneD.style.display = "none";
            companyD.style.display = "none";
            drone.value= "";
            company.value= "";

        }else if (selectedValue === "2") {
            serialD.style.display = "none";
            droneD.style.display = "block";
            companyD.style.display = "none";
            serial.value= "";
            company.value= "";

        }else if (selectedValue === "3") {
            serialD.style.display = "none";
            droneD.style.display = "none";
            companyD.style.display = "block";
            serial.value= "";
            drone.value= "";

        }
    });
    var searchD = document.getElementById("search");
    var start1 = document.getElementById("start1");
    var start2 =document.getElementById("start2");
    function searchMode() {
        searchD.style.display="block";
        start1.style.display="none";
        start2.style.display="none";
    }
    function back() {
        searchD.style.display="none";
        start1.style.display="block";
        start2.style.display="block";
    }

</script>
</body>
</html>
