<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark " style="border-bottom:2px solid #dcdbdb;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="Logo" width="90" height="40" class="d-inline-block align-text-center">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <a id="dronePage" href="/drone">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">드론 관리</div>
            </a>
            <a id="inquiryPage" href="/items">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">문의 관리</div>
            </a>
            <a id="asPage" href="/as">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">As 관리</div>
            </a>
            <a id="deliveryPage" href="/delivery">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 60px;font-size: 20px">납품 관리</div>
            </a>
            <a id="flightPage" href="/flight">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black;font-weight: bold; margin-right: 180px;font-size: 20px">비행 일정</div>
            </a>


            <a id="adminPage" href="/members/admin">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black">관리자 페이지</div>
            </a>
            <div id="adminPage2" style="float: right;margin-right: 8px;color: black">|</div>
            <a href="/members/info">
                <div style="float: right;margin-left: 8px;margin-right: 8px; color: black">MyPage</div>
            </a>
            <div style="float: right;margin-right: 8px;color: black">|</div>
            <img src="/img/profile-user.png" alt="Logo" width="20" height="20" class="d-inline-block align-text-center">
            <div style="float: right;margin-left: 8px;margin-right: 15px; color: black" th:text="|${member.name}|">로그인 사용자 이름</div>
        </div>
    </div>
    </div>
</nav>
<div style="text-align: left; margin-top:2%;margin-left :14%">
    <a href="/drone">
        <img src="/img/knDrone.png" alt="Logo" width="10%" height="5%" class="d-inline-block align-text-center">
    </a>

</div>


<div class="container" style="max-width: 70%;margin-top:7%">

    <form th:object="${itemSearch}" method="get" class="form-inline">
        <div class="row">
            <div class="col">

                <select class="form-select"  th:field="*{select}"id="select" style="width: auto;float: left;">
                    <option value="1">식 시리얼</option>
                    <option value="2">기체 시리얼</option>
                    <option value="3">기관명/업체명</option>
                </select>

                <div id="serialDiv" style="width:auto;display: none;float: left;margin-left: 20px">
                    <input id="serial" type="text" th:field="*{serial}" class="form-control" placeholder="식 시리얼로 검색"/>
                </div>
                <div id="droneDiv" style="width: auto;display: none;float: left;margin-left: 20px">
                    <input id="drone" type="text" th:field="*{drone}" class="form-control" placeholder="기체 시리얼로 검색"/>
                </div>
                <div id="companyDiv" style="width: auto;display: none;float: left;margin-left: 20px">
                    <input id="company"  type="text" th:field="*{company}" class="form-control" placeholder="기관명/업체명으로 검색"/>
                </div>
                <div class="col" style="width: auto">
                    <button type="submit" class="btn btn-secondary mb-2"style="margin-left: 20px">검색</button>
                </div>
            </div>
        </div>
    </form>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>No.</th>
                <th>식 시리얼</th>
                <th>기체 시리얼</th>
                <th>기관명/업체명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}"th:if="${member.rank} != 'guest'" th:onclick="|location.href='@{/drone/{itemId}(itemId=${item.serial})}'|">
                <td th:text="${item.num}">No.</td>
                <td th:text="${item.serial}">식 시리얼</td>
                <td th:text="${item.drone}">기체 시리얼</td>
                <td th:text="${item.company}">기관명/업체명</td>
            </tr>
            <tr th:each="item : ${items}"th:if="${member.rank} == 'guest'">
                <td th:text="${item.num}">No.</td>
                <td th:text="${item.serial}">식 시리얼</td>
                <td th:text="${item.drone}">기체 시리얼</td>
                <td th:text="${item.company}">기관명/업체명</td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-center" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
            <li th:if="${start > 1}">
                <button  style="background-color:transparent; border:none;" th:onclick="|location.href='@{/drone/search(page=0)}'|">
                    <img style="width: 20px;height: 20px" src="/img/startPage.png"/>
                </button>
            </li>
            <li th:if="${start > 1}">
                <button style="background-color:transparent; border:none;" th:onclick="|location.href='@{/drone/search(page=${start - maxPage})}'|">
                    <img style="width: 20px;height: 20px" src="/img/previous.png"/>
                </button>
            </li>

            <li style="margin-left: 10px;margin-right: 10px;margin-top: 2px" th:each="page: ${#numbers.sequence(start, end)}">
                <a  th:text="${page}" th:href="@{/drone/search(select = ${itemSearch.getSelect()}, serial = ${itemSearch.getSerial()},drone = ${itemSearch.getDrone()},company = ${itemSearch.getCompany()}, page=${page - 1})}" th:style="${page == thisP ? 'border: 2px solid #0d6efd; border-radius: 5px;padding: 2px; ' : ''}" ></a>
            </li>

            <li th:if="${end < items.totalPages}">
                <button  style="background-color:transparent; border:none;" th:onclick="|location.href='@{/drone/search(page=${start + maxPage})}'|">
                    <img style="width: 20px;height: 20px" src="/img/next.png"/>
                </button>
            </li>
            <li th:if="${end < items.totalPages}">
                <button  style="background-color:transparent; border:none;" th:onclick="|location.href='@{/drone/search(page=${items.totalPages - 1})}'|">
                    <img style="width: 20px;height: 20px" src="/img/endPage.png"/>
                </button>
            </li>
        </ul>
    </nav>
</div>
<script th:inline="javascript">
    var button = document.getElementById("addBtn");
    var admin = document.getElementById("adminPage");
    var admin2 = document.getElementById("adminPage2");
    var select = document.getElementById("select");
    var serialD = document.getElementById("serialDiv");
    var droneD = document.getElementById("droneDiv");
    var companyD = document.getElementById("companyDiv");


    var serial = document.getElementById("serial");
    var drone = document.getElementById("drone");
    var company = document.getElementById("company");
    /*<![CDATA[*/

    var rank = [[${member.rank}]];
    if(rank === "guest"){
        button.style.display = "none";
    }
    if(rank !="admin"){
        admin.style.display = "none";
        admin2.style.display = "none";
    }
    var selectV = [[${select}]];
    console.log("selectV"+selectV)
        if (selectV === "1") {
            serialD.style.display = "block";
            droneD.style.display = "none";
            companyD.style.display = "none";

        }else if (selectV === "2") {
            serialD.style.display = "none";
            droneD.style.display = "block";
            companyD.style.display = "none";

        }else if (selectV === "3") {
            serialD.style.display = "none";
            droneD.style.display = "none";
            companyD.style.display = "block";

        }
    /*]]>*/


    serial.value= "";
    drone.value= "";
    company.value= "";

    console.log(serial.value+"/"+drone.value+"/"+company.value)
    select.addEventListener("change",function (){
        var selectedValue = select.value;

        if (selectedValue === "1") {
            serialD.style.display = "block";
            droneD.style.display = "none";
            companyD.style.display = "none";
            drone.value= "";
            company.value= "";

        }else if (selectedValue === "2") {
            serialD.style.display = "none";
            droneD.style.display = "block";
            companyD.style.display = "none";
            serial.value= "";
            company.value= "";

        }else if (selectedValue === "3") {
            serialD.style.display = "none";
            droneD.style.display = "none";
            companyD.style.display = "block";
            serial.value= "";
            drone.value= "";

        }
    });



</script>
</body>
</html>
